[Desktop Entry]
Name=Keiland
Comment=The Keiland desktop
Exec=/opt/keiland/bin/wayland --session --glass --wallpaper=/opt/keiland/share/keiland/wallpaper.ppm
Type=Application
DesktopNames=Keiland
